## The third In-class-exercise (2/22/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [1]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

The text classification method which we would discuss over here is kind of extracting the data from the google colab
in the last in class assignment we extracted some papers from google colab so now we try to use them and extract the data
The feautures which might be helpfull in extracting is
Number of sentences, Number of words, Number of characters, Average word length, Number of special characters, 
Number of numerics,Number of uppercase words.
Number of sentences is usefull in finding out the how many snetences are present in the list
Number of words is usefull in finding out the how many words are present in the list
Number of characters is usefull in finding out the how many characters are present in the list
Average word length is usefull in finding out the average of words that are present in the list
Number of special characters is usefull in finding out the number of special characters that are present in the list
This features are helpful in organising the data and using them for the appropriate methods.

'''

'\nPlease write you answer here:\n\nThe text classification method which we would discuss over here is kind of extracting the data from the google colab\nin the last in class assignment we extracted some papers from google colab so now we try to use them and extract the data\nThe feautures which might be helpfull in extracting is\nNumber of sentences, Number of words, Number of characters, Average word length, Number of special characters, \nNumber of numerics,Number of uppercase words.\nNumber of sentences is usefull in finding out the how many snetences are present in the list\nNumber of words is usefull in finding out the how many words are present in the list\nNumber of characters is usefull in finding out the how many characters are present in the list\nAverage word length is usefull in finding out the average of words that are present in the list\nNumber of special characters is usefull in finding out the number of special characters that are present in the list\nThis features are helpful in organising the data and using them for the appropriate methods.\n\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [2]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd

t1 = []
url = "https://raw.githubusercontent.com/JaideepAluru/Jaideep_INFO5731_-SPRING2022-/main/jai.txt"
tf = urllib.request.urlopen(url)  #This function is used to decode the url and get the data from it it is a predefined function

for i in tf:
    dec_data = i.decode("utf-8").replace('\r\n', '')    #this statement is used to decode the data present in the url and convert it into standard format
    if dec_data: 
        t1.append(dec_data)       #appending the decoded data to a list
df = pd.DataFrame (t1, columns = ['Text'])   #converting the list to data frame using pamdas
print(df)

                                                  Text
0                                         5 Ala. 740\n
1                          Supreme Court of Alabama.\n
2                                              ADAMS\n
3                                                 v.\n
4                                 TANNER AND HORTON.\n
..                                                 ...
153          There are no Filings for this citation.\n
154                               Negative Treatment\n
155  There are no Negative Treatment results for th...
156                                          History\n
157  There are no History results for this citation.\n

[158 rows x 1 columns]

In [3]:
#To find Number of Sentences in a data frame

df['Num of sentences'] = df['Text'].apply(lambda y: len(str(y).split(".")))
df

                                                  Text  Num of sentences
0                                         5 Ala. 740\n                 2
1                          Supreme Court of Alabama.\n                 2
2                                              ADAMS\n                 1
3                                                 v.\n                 2
4                                 TANNER AND HORTON.\n                 2
..                                                 ...               ...
153          There are no Filings for this citation.\n                 2
154                               Negative Treatment\n                 1
155  There are no Negative Treatment results for th...                 2
156                                          History\n                 1
157  There are no History results for this citation.\n                 2

[158 rows x 2 columns]

In [4]:
#To find Number of words in a data frame

df['Num of Words'] = df['Text'].apply(lambda y: len(str(y).split(" ")))
df

,Text,Num of sentences,Num of Words
0,5 Ala. 740\n,2,3
1,Supreme Court of Alabama.\n,2,4
2,ADAMS\n,1,1
3,v.\n,2,1
4,TANNER AND HORTON.\n,2,3
...,...,...,...
153,There are no Filings for this citation.\n,2,7
154,Negative Treatment\n,1,2
155,There are no Negative Treatment results for th...,2,9
156,History\n,1,1
157,There are no History results for this citation.\n,2,8

In [5]:
#To find Number of characters in data frame

df['Num of Char'] = df['Text'].str.len()
df

,Text,Num of sentences,Num of Words,Num of Char
0,5 Ala. 740\n,2,3,11
1,Supreme Court of Alabama.\n,2,4,26
2,ADAMS\n,1,1,6
3,v.\n,2,1,3
4,TANNER AND HORTON.\n,2,3,19
...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40
154,Negative Treatment\n,1,2,19
155,There are no Negative Treatment results for th...,2,9,59
156,History\n,1,1,8
157,There are no History results for this citation.\n,2,8,48

In [6]:
#To find the average word length of the list


def awl(x):
    jai = x.split() #here the sentence is being splitted into parts and being assigned to variable jai
    if len(jai) != 0:  #here we are checking if the variable is empty or not
        return(sum(len(deep) for deep in jai)/len(jai))
    else:
        return None

df['Avg Word Length'] = df['Text'].apply(lambda z: awl(z))
df

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length
0,5 Ala. 740\n,2,3,11,2.666667
1,Supreme Court of Alabama.\n,2,4,26,5.500000
2,ADAMS\n,1,1,6,5.000000
3,v.\n,2,1,3,2.000000
4,TANNER AND HORTON.\n,2,3,19,5.333333
...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4.714286
154,Negative Treatment\n,1,2,19,8.500000
155,There are no Negative Treatment results for th...,2,9,59,5.555556
156,History\n,1,1,8,7.000000
157,There are no History results for this citation.\n,2,8,48,5.000000

In [7]:
#To find the number of special characters present in the list

def spchar(x):
    red = 0
    for i in range(len(x)):
        if not((x[i].isalpha()) and (x[i].isdigit())):
            red = red + 1
    return red

df['Num of spec char'] = df['Text'].apply(lambda y: spchar(y))
df

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char
0,5 Ala. 740\n,2,3,11,2.666667,11
1,Supreme Court of Alabama.\n,2,4,26,5.500000,26
2,ADAMS\n,1,1,6,5.000000,6
3,v.\n,2,1,3,2.000000,3
4,TANNER AND HORTON.\n,2,3,19,5.333333,19
...,...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4.714286,40
154,Negative Treatment\n,1,2,19,8.500000,19
155,There are no Negative Treatment results for th...,2,9,59,5.555556,59
156,History\n,1,1,8,7.000000,8
157,There are no History results for this citation.\n,2,8,48,5.000000,48

In [8]:
#To find the number of numerics present in the list

df['Num of num'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isdigit()])) #here we are considering it to be a seperate numeric if it is seperated with a space using the split function
df

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num
0,5 Ala. 740\n,2,3,11,2.666667,11,2
1,Supreme Court of Alabama.\n,2,4,26,5.500000,26,0
2,ADAMS\n,1,1,6,5.000000,6,0
3,v.\n,2,1,3,2.000000,3,0
4,TANNER AND HORTON.\n,2,3,19,5.333333,19,0
...,...,...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4.714286,40,0
154,Negative Treatment\n,1,2,19,8.500000,19,0
155,There are no Negative Treatment results for th...,2,9,59,5.555556,59,0
156,History\n,1,1,8,7.000000,8,0
157,There are no History results for this citation.\n,2,8,48,5.000000,48,0

In [9]:
#To find number of uppercase words in a list

df['Num of upper case words'] = df['Text'].apply(lambda x: len([x for x in x.split() if x.isupper()])) #using split function we are finding the words with completely upper case
df

,Text,Num of sentences,Num of Words,Num of Char,Avg Word Length,Num of spec char,Num of num,Num of upper case words
0,5 Ala. 740\n,2,3,11,2.666667,11,2,0
1,Supreme Court of Alabama.\n,2,4,26,5.500000,26,0,0
2,ADAMS\n,1,1,6,5.000000,6,0,1
3,v.\n,2,1,3,2.000000,3,0,0
4,TANNER AND HORTON.\n,2,3,19,5.333333,19,0,3
...,...,...,...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4.714286,40,0,0
154,Negative Treatment\n,1,2,19,8.500000,19,0,0
155,There are no Negative Treatment results for th...,2,9,59,5.555556,59,0,0
156,History\n,1,1,8,7.000000,8,0,0
157,There are no History results for this citation.\n,2,8,48,5.000000,48,0,0

In [10]:
df.to_csv('data.csv',index=True)

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [12]:
# You code here (Please add comments in the code):